* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


CANVAS {
    
}


#scoreContent {
    text-align: center;
    position: absolute;
    width: 100%;
}

.agent {
    
}

.agent-inactive {
    
}